
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BurguerQuest.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>burguerQuest</title>
</head>
<body>
  <header class="flex-container">
    <div class="menu">
      <ul class="list">
        <li><a href="#home">HOME</a></li>
        <li><a href="#servs">TESTE2</a></li>
        <li><a href="#obj">TESTE3</a></li>
      </ul>
    </div>
    <div class="menu">
      <ul class="login">
        <li><a href="#home">LOGIN</a></li> </br>
        <li><a href="./Cadastro.cshtml">CADASTRO</a></li>
      </ul>
    </div>       
  </header>

  <h3 style="text-align: center; margin: 30px auto;font-style: italic;">Hadouken! </h3>

  <h1 style="font-size:50px; text-align: center; margin: 0 auto;">‘Anime seus sentidos
      com os sabores únicos da 
      Burguer Quest!’</h1>
  <section class="principal">
      <div class="gallery">
        <a target="_blank" href="./img/DBZ.jpeg">
          <img src="./Img/DBZ.jpeg" alt="DBZ">
        </a>
        <div class="desc">Dragon Ball Z</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
          <img src="./Img/onepice.jpeg">
        </a>
        <div class="desc">One Piece</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="img_lights.jpg">
          <img src="./Img/Capa-analise-kimetsu-no-yaiba.jpg">
        </a>
        <div class="desc">Kimetsu no Yaiba</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="./Img/jujutsu.jpg" >
        </a>
        <div class="desc">Jujutsu Kaisen</div>
      </div>
      <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="./Img/img5bd18e184d04b9.47770104.jpg"/>
        </a>
        <div class="desc">The Seven Deadly Sins</div>
      </div>
      <div class="gallery">
        <a target="_blank">
          <img src="./Img/pokemon.jpg">
        </a>
        <div class="desc">Pokémon</div>
      </div>
  </section>      
</body>
<footer>
  <div id="footer_nav">
      <div class="redes-sociais">
          <h5>SIGA-NOS NAS REDES SOCIAIS! </h5>
          <div class="rede">
              <a href="#" class="footer-link" id="instagram">
                  <img src="/Img/instagram.png"></i>
              </a>

              <a href="#" class="footer-link" id="facebook">
                  <img src="/Img/facebook.png"></i>
              </a>

              <a href="#" class="footer-link" id="whatsapp">
                  <img src="~/Img/whatsapp.png"></i>
              </a>
          </div>
      </<div>
    </div>

    <ul class="footer-list">
        <li><h5>FALE CONOSCO! </h5></li>
        <li><a href="#" class="footer-link">Endereço físico da empresa.</a></li>
        <li><a href="#" class="footer-link">Números de telefone para contato.</a></li>
        <li><a href="#" class="footer-link">Horário de funcionamento: Qui à Dom - 17h as 23:30.</a></li>
    </ul>
    <div class="f-inscreva">
        <h5>Se inscreva e receba nossas promoções e descontos !</h5>
        <p>Cadastre seu e-mail e seja notificado, 
            nossas promoções tem tempo limitado!
        </p>
        <div class="input-group">
            <input type="email" id="email">
            <button>
                <i class="fa-regular fa-envelope"></i>
            </button>
        </div>
    </div>
    
</footer>
 <div class="flex-container ft2"> 
      <h4>2023 ©PROJETO - Todos os direitos reservados.</h4>
  </div>
</html>